<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_id %>
    <%= form.select(:name_id, Name.all.sort_by{|e| e[:name]}.collect {|a| [a.name, a.id]}) -%>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.select(:team_id, Team.all.collect {|a| [a.name, a.id]}) -%>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_field :start, id: :person_start, :value => Date.today, min: Date.parse("2018-04-01"), max: Date.parse("2019-04-01") %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_field :end, id: :person_end, :value => Date.new(2019,4,1), min: Date.parse("2018-04-01"), max: Date.parse("2019-04-01") %>
  </div>

  <div class="field">
    <%= form.label :fte %>
    <%= form.text_field :fte, id: :person_fte %>
  </div>

  <div class="field">
    <%= form.label :brexit %>
    <%= form.check_box :brexit, id: :person_brexit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
