<% per_name = @person.name.name %>
<% db = @person.name_type == "Interim" ? Interim : CivilServant %>
<% provide(:title, per_name) %>

<table class='main_table' style='margin-bottom:10px;'>
  <tr class='details_head_row'>
    <td>Full Name</td>
    <td>Team</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>FTE</td>
    <td>Update Type</td>
    <td>Time Updated</td>
    <td>Updater</td>
  </tr>
  <tr class='current_row'>
    <td><%= per_name %></td>
    <td><%= @person.team.name %></td>
    <td><%= @person.start.to_formatted_s(:short)  %></td>
    <td><%= @person.end.to_formatted_s(:short) unless !@person.end  %></td>
    <td><%= @person.fte %></td>

    <% @person.versions.reverse.each do |v| %>
      <% if v.event == "create" %>
        <td>Created</td>
        <td><%= v.created_at.to_formatted_s(:long) %></td>
      <% end %>
      <% if v.event == "update" %>
        <td>Updated</td>
        <td><%= v.created_at.to_formatted_s(:long) %></td>
      <% end %>
      <td><%= User.find(v.whodunnit).name unless !v.whodunnit %></td>
      </tr>
      <% if v.event == "update" %>
        <% nam = db.find(v.reify.name_id) %>
        <% ver = v.reify%>
        <% dif = v.changeset %>
        <tr style='background-color:#efefef;'>
          <td><%= nam.name %></td>
          <td><%= Team.find(ver.team_id).name %></td>
          <td><%= ver.start.to_formatted_s(:short)  %></td>
          <td><%= ver.end.to_formatted_s(:short) unless !ver.end  %></td>
          <td><%= ver.fte %></td>
      <% end %>
    <% end %>
  </tr>
</table>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
