<%= form_with(model: civil_servant, local: true) do |form| %>
<table style="width:100%;">
  <tr>
    <td style="width:50%;"><%= form.label :name %></td>
    <td><%= form.text_field :name, id: :civil_servant_name %><td>
  </tr>

  <tr>
    <td><%= form.label :staff_number %></td>
    <td><%= form.text_field :staff_number, id: :civil_servant_staff_number %></td>
  </tr>

  <tr>
    <td><%= form.label :job_title %></td>
    <td><%= form.text_field :job_title, id: :civil_servant_job_title %></td>
  </tr>
<!--
  <tr>
    <td><%= form.label :role_id %></td>
    <td><%= form.number_field :role_id, id: :civil_servant_role_id %></td>
  </tr>
-->
  <tr>
    <td><%= form.label :community_id %></td>
    <td><%= form.select(:community_id, Community.all.sort_by{|e| e[:name]}.collect {|a| [a.name, a.id]}) -%></td>
  </tr>

  <tr>
    <td><%= form.label :grade_id %></td>
    <td><%= form.select(:grade_id, Grade.all.collect {|a| [a.name, a.id]}) -%></td>
  </tr>

  <tr>
    <td><%= form.label :profession_id %></td>
    <td><%= form.select(:profession_id, Profession.all.sort_by{|e| e[:name]}.collect {|a| [a.name, a.id]}) -%></td>
  </tr>
<!--
  <tr>
    <td><%= form.label :framework_id %></td>
    <td><%= form.select(:framework_id, Framework.all.collect {|a| [a.name, a.id]}) -%></td>
  </tr>
-->
  <tr>
    <td><%= form.label :status_id %></td>
    <td><%= form.select(:status_id, Status.all.collect {|a| [a.name, a.id]}) -%></td>
  </tr>
</table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
