<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ochange.description %>
</p>

<p>
  <strong>Team:</strong>
  <%= @ochange.team_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @ochange.account_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @ochange.supplier %>
</p>

<p>
  <strong>Po number:</strong>
  <%= @ochange.po_number %>
</p>

<p>
  <strong>Apr:</strong>
  <%= @ochange.apr %>
</p>

<p>
  <strong>May:</strong>
  <%= @ochange.may %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @ochange.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @ochange.jul %>
</p>

<p>
  <strong>Aug:</strong>
  <%= @ochange.aug %>
</p>

<p>
  <strong>Sep:</strong>
  <%= @ochange.sep %>
</p>

<p>
  <strong>Oct:</strong>
  <%= @ochange.oct %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @ochange.nov %>
</p>

<p>
  <strong>Dec:</strong>
  <%= @ochange.dec %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @ochange.jan %>
</p>

<p>
  <strong>Feb:</strong>
  <%= @ochange.feb %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @ochange.mar %>
</p>

<p>
  <strong>Other:</strong>
  <%= @ochange.other_id %>
</p>

<p>
  <strong>Bmo approved:</strong>
  <%= @ochange.bmo_approved %>
</p>

<p>
  <strong>Central approved:</strong>
  <%= @ochange.central_approved %>
</p>

<p>
  <strong>Central declined:</strong>
  <%= @ochange.central_declined %>
</p>

<%= link_to 'Edit', edit_ochange_path(@ochange) %> |
<%= link_to 'Back', ochanges_path %>
