<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interim.name %>
</p>

<p>
  <strong>Staff number:</strong>
  <%= @interim.staff_number %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @interim.job_title %>
</p>

<p>
  <strong>Role:</strong>
  <%= @interim.role_id %>
</p>

<p>
  <strong>Community:</strong>
  <%= @interim.community_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @interim.grade_id %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @interim.profession_id %>
</p>

<p>
  <strong>Framework:</strong>
  <%= @interim.framework_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @interim.status_id %>
</p>

<p>
  <strong>Charge rate:</strong>
  <%= @interim.charge_rate %>
</p>

<%= link_to 'Edit', edit_interim_path(@interim) %> |
<%= link_to 'Back', interims_path %>
