<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GDS Business Plan 18/19", '#', id: "logo", style: "padding-top:15px;" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>

          <li><%= link_to "Dashboard", "/dashboard/view" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Central Plan <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Actuals", "/actuals/view" %></li>
              <li class="divider"></li>
              <li><%= link_to "People", "/people" %></li>
              <li><%= link_to "Other Costs", "/others" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= "Change Requests" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Pending Central Approval", "/sandboxes/change" %></li>
              <li><%= link_to "Pending BOM Approval", "/sandboxes/bmo" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Approved", "/sandboxes/approved" %>
                <%= link_to "Declined", "/sandboxes/declined" %>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Sandboxes <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Summary", "/dashboard/summary" %></li>
              <li class="divider"></li>
              <li><%= link_to "People", "/sandboxes/people" %></li>
              <li><%= link_to "Other Costs", "/sandboxes/other" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<header class='blue_header'>
  <div class="container">
    <h1 class='main_title'><%= yield(:title) %></h1>
    <div style='float:right;height: 89px;'><p id="notice"  style='line-height:89px;'><%= notice %></p></div>
  </div>

</header>
